@media (max-width: 1100px) {
	.menuTable__content {
		background-color: rgba(61, 95, 104, 0.5);
	}

	.menuTable__item {
		max-width: 50%;
		width: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}

	.menuTable__item--pos4 {
		.menuTable__img {
			order: -1;
		}
	}

	.menuTable__item--pos6 {
		.menuTable__img {
			order: -1;
		}
	}
}

@media (max-width: 1000px) {
	.discover__item {
		flex-direction: column;
		align-items: center;
	}

	.discover__img {
		margin-bottom: 10px;
	}

	.discover__info {
		text-align: center;
	}
}

@media (max-width: 900px) {
	.header .menu li a {
		font-size: 30px;
	}

	.header__inner .header__content-left {
		margin-left: 6%;
	}

	.header .menu {
		margin-top: 0px;
	}
}

@media (max-width: 820px) {
	.registration__img {
		height: 364px;
	}

	.registration__title {
		font-size: 45px;
	}

	.container-fluide {
		padding: 0;
	}

	.menu-btn {
		width: 30px;
		height: 30px;
		position: absolute;
		left: 15px;
		top: 15px;
		z-index: 10;
		cursor: pointer;

		div {
			height: 2px;
			width: 100%;
			background-color: #fff;

			&+div {
				margin-top: 8px;
			}
		}
	}

	nav ul {
		display: none;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		background-image: url(../images/woo2.png);
		background-size: cover;
	}

	.menu.active {
		.menu-btn {
			div {
				transition: all 0.3s;

				&:nth-child(1) {
					display: none;
				}

				&:nth-child(2) {
					transform: rotate(-45deg);
				}

				&:nth-child(3) {
					transform: rotate(45deg);
					margin-top: -2px;
				}
			}
		}

		ul {
			display: block;
			width: 100%;

			li {
				display: block;
				text-align: center;

				&:hover {
					background-image: url(../images/woo.jpg);
					background-size: cover;
				}

				a {
					color: #fff;
					width: 100%;

					&:hover {
						font-weight: 400;
					}
				}

				&+li {
					margin-left: 0;
				}
			}
		}
	}
}

@media (max-width: 720px) {
	.registration form .form-group {
		max-width: 50%;
		margin-bottom: 10px;
	}

	.quote {
		padding-top: 65px;
		height: 280px;
	}

	.quote__text p {
		margin-bottom: 25px;
	}

	.quote__title {
		font-size: 30px;
	}

	.menuTable__inner {
		padding: 40px 0;
	}

	.about {
		padding: 0 10px;
	}

	.about__text {
		margin: 0 auto;
		border: 5px solid white;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 20px;
		padding-top: 30px;
	}

	.about__title {
		padding-top: 100px;
		text-align: center;
	}

	.header__title {
		display: none;
	}

	.header .logo img {
		height: 60px;
	}

	.header .logo {
		margin-right: 0px;
		position: absolute;
		right: 20px;
		top: 10px;
	}

	.header__inner {
		height: 450px;
		padding-right: 0px;
	}

	.header__inner .header__content-left {
		margin-left: 50%;
		margin-top: 30px;
		transform: translateX(-40%);
	}
}

@media (max-width: 600px) {
	.registration__img {
		height: 254px;
	}

	.menuTable__item {
		max-width: 100%;
	}

	.menuTable__header {
		padding-top: 30px;
	}
}

@media (max-width: 500px) {
	.registration__title {
		font-size: 27px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.registration__img {
		height: 150px;
	}

	.registration form .form-group {
		max-width: 100%;
	}

	.quote {
		padding-top: 25px;
		height: 250px;
	}

	.point-box img {
		height: 25px;
	}

	.quote__title {
		margin-bottom: 16px;
	}

	.header__inner .header__content-left .slick-next {
		left: 230px;
	}

	.header__inner .header__content-left .slick-prev {
		left: 10%;
	}

	.header__inner .header__content-left .slick-arrow {
		top: auto;
		bottom: 45px;
		z-index: 50;
	}

	.header__inner .header__content-box {
		max-width: 300px;
	}

	.header__inner .header__content-left {
		margin-left: 57%;
	}
}

@media (max-width: 450px) {
	.menuTable__sup {
		font-size: 34px;
		font-weight: 400;
	}

	.menuTable__title {
		font-size: 30px;
	}

	.menuTable__header {
		min-height: 130px;
		padding: 20px 5px;
	}

	.about {
		padding: 0 10px;
		min-height: 390px;
		padding-bottom: 30px;
	}

	.about__text {
		margin: 0 auto;
		padding: 10px;
		padding-top: 15px;
	}

	.about__title {
		padding-top: 30px;
		text-align: center;
		margin-bottom: 15px;
	}
}

@media (max-width: 400px) {


	.header__inner .header__content-left {
		margin-left: 51%;
	}

	.menuTable__title {
		font-size: 26px;
	}

	.about {
		padding: 0 5px 30px;
	}
}

@media (max-width: 350px) {
	.header__inner .header__content-left {
		margin-left: 45%;
	}

	.quote__title {
		font-size: 25px;
	}

	.quote__text p {
		margin-bottom: 10px;
		font-size: 17px;
	}

	.quote {
		height: 200px;
	}
}

@media (max-width: 320px) {
	.header__inner .header__content-left {
		margin-left: 42%;
	}
}